/*
 Colors:
 #332a86 is Pantone 2685, purple from the secondary color palette
 #241d5e is dark purple
 #7069aa is light purple
 #c3c0db is an even lighter purple
 #fff is white
 #8a7967 is Pantone Warm Gray 10 from the primary color palette.
 #d5d10e is Pantone 397, gold from the secondary color palette
 #d4d15c is muted gold
 #f1f0b3 is light gold
*/

div.main-wrapper {
	background-image:url('../img/background-purple.png');
	background-color:#7069aa;
}

a:link,
a:visited { color:#332a86; }

.sidebar-contents a:link,
.sidebar-contents a:visited { color:#d5d10e; }

div.main-border,
div.main-border-bottom { background-image:url('../img/border-purple.png'); }

nav {
	background:-webkit-linear-gradient(#d4d15c,#f1f0b3);
	background:-o-linear-gradient(#d4d15c,#f1f0b3);
	background:-moz-linear-gradient(#d4d15c,#f1f0b3);
	background:linear-gradient(#d4d15c,#f1f0b3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d15c',endColorstr='#f1f0b3',GradientType=0);
}

nav li { color:#332a86; }

nav ul li a:link,
nav ul li a:visited {
	color:#332a86;
	border-left-color:#8a7967;
}

nav ul li a:hover,
nav ul li a:active { color:#332a86; }

nav ul li.current_page_item a,
nav ul li.current_page_parent a { color:#332a86; }

h3 { background-color:#d5d10e; }

article.main-post {
	background-color:#d5d10e;
	color:#332a86;
}

article.main-post img { border-color:#332a86; }

article.video-post iframe { border-color:#d5d10e; }

section.video h4 {
	color:#332a86;
	background:-webkit-linear-gradient(#c3c0db,#fff);
	background:-o-linear-gradient(#c3c0db,#fff);
	background:-moz-linear-gradient(#c3c0db,#fff);
	background:linear-gradient(#c3c0db,#fff);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c3c0db',endColorstr='#ffffff',GradientType=0);
}

h4.article-header { color:#332a86; }

.sidebar-contents div.widget,
div.sidebar-contents p,
div.widget_simplesubscribe { border-bottom-color:#d5d10e; }

a.more-link:link,
a.more-link:visited { color:#d5d10e; }

input[type=submit],
div.sidebar-contents p.button {
	background:-webkit-linear-gradient(#332a86,#241d5e);
	background:-o-linear-gradient(#332a86,#241d5e);
	background:-moz-linear-gradient(#332a86,#241d5e);
	background:linear-gradient(#332a86,#241d5e);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#332a86',endColorstr='#241d5e',GradientType=0);
}

div.sidebar-contents p.button a:hover,
div.sidebar-contents p.button a:active { border-style:none; }

footer {
	background-image:none;
	background-color:#332a86;
}
