/*
 Colors:
 #37bdb2 is Pantone 3265, teal from the secondary color palette
 #028a7f is dark teal
 #abcfc8 is a light, very muted teal
 #8a7967 is Pantone Warm Gray 10 from the primary color palette.
 #fff is white
*/

div.main-wrapper { background-color:#abcfc8; }

a:link,
a:visited { color:#028a7f; }

header { background-image:url('../img/header-teal.jpg'); }

.widget.slide-show:before,
header:before,
div.main-border { background-image:url('../img/border-teal.png'); }

nav { background-color:#37bdb2; }

nav a:hover,
nav a:active {
	color:#028a7f;
	background-color:#abcfc8;
}

li.current_page_item a { color:#37bdb2; }

h3 { background-color:#37bdb2; }
	
article.other-post h4 { color:#37bdb2; }

article.regular-page h1.page-title,
article.main-post h4 { color:#37bdb2; }

article.main-post a:link,
article.main-post a:visited { color:#37bdb2; }

article.second-posts h4 { color:#37bdb2; }

h4.article-header { color:#37bdb2; }

aside { color:#8a7967; }

nav h2 { background-image:url('../img/header-teal.jpg'); }

h2.sidebar,
h2.widgettitle {
	color:#8a7967;
	border-color:#37bdb2;
}
	
a.more-link:link,
a.more-link:visited { color:#37bdb2; }

input[type=submit],
div.sidebar-contents p.button {
	background:-webkit-linear-gradient(#37bdb2,#028a7f);
	background:-o-linear-gradient(#37bdb2,#028a7f);
	background:-moz-linear-gradient(#37bdb2,#028a7f);
	background:linear-gradient(#37bdb2,#028a7f);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#37bdb2',endColorstr='#028a7f',GradientType=0);
}

footer { background-color:#8a7967; }
